<a href="https://colab.research.google.com/github/Keleigh123/revisionPandas/blob/main/LabelAndOneHotEncodingOnMultipleColumns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/online_shoppers_intention.csv')
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  int64
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  int64
 16  Weekend                  12330 non-null  int64
 17  Revenue                  12330 non-null  int64
dtypes: float64(7), int64(11)
memory usage: 1.7 MB

In [47]:
cat_cols =['Month','VisitorType','Weekend','Revenue']#cat_cols are not features

In [48]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [49]:
data[cat_cols]=data[cat_cols].apply(lambda col:le.fit_transform(col)) #applying le on the values of cat_cols, outputs a dataframe#lambda col:data[cat_cols].apply

In [50]:
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...        0        0
1               0                      0.0  ...        0        0
2               0                      0.0  ...        0        0
3               0                      0.0  ...        0        0
4               0                      0.0  ...        1        0

[5 rows x 18 columns]

In [51]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

In [52]:
array=ohe.fit_transform(data[cat_cols]).toarray() #applying ohe to cat_cols. Outputs an array.
data_ohe=pd.DataFrame(array,index=data.index)#converts array to dataframe
#drop_cols=data.drop(columns=cat_cols)#drops cat_cols
data_output=pd.concat([data,data_ohe],axis=1)#appends dataframe with dropped columns
data_output=data_output.drop(columns=cat_cols)
print(data_output.head())

   Administrative  Administrative_Duration  Informational  ...   14   15   16
0               0                      0.0              0  ...  0.0  1.0  0.0
1               0                      0.0              0  ...  0.0  1.0  0.0
2               0                      0.0              0  ...  0.0  1.0  0.0
3               0                      0.0              0  ...  0.0  1.0  0.0
4               0                      0.0              0  ...  1.0  1.0  0.0

[5 rows x 31 columns]

In [53]:
data_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  OperatingSystems         12330 non-null  int64
 11  Browser                  12330 non-null  int64
 12  Region                   12330 non-null  int64
 13  TrafficType              12330 non-null  int64
 14  0                        12330 non-null  float64
 15  1                        12330 non-null  float64
 16  2                        12330 non-null  float64
 17  3                        12330 non-null  float64
 18  4                        12330 non-null  float64
 19  5                        12330 non-null  float64
 20  6                        12330 non-null  float64
 21  7                        12330 non-null  float64
 22  8                        12330 non-null  float64
 23  9                        12330 non-null  float64
 24  10                       12330 non-null  float64
 25  11                       12330 non-null  float64
 26  12                       12330 non-null  float64
 27  13                       12330 non-null  float64
 28  14                       12330 non-null  float64
 29  15                       12330 non-null  float64
 30  16                       12330 non-null  float64
dtypes: float64(24), int64(7)
memory usage: 2.9 MB