<a href="https://colab.research.google.com/github/Keleigh123/revisionPandas/blob/main/LabelEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/Admission.csv')
data.head()

    GPA  GMAT Decision
0  2.96   596    admit
1  3.14   473    admit
2  3.22   482    admit
3  3.29   527    admit
4  3.69   505    admit

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GPA       85 non-null     float64
 1   GMAT      85 non-null     int64
 2   Decision  85 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.1+ KB

In [6]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
data['Decision']=label.fit_transform(data['Decision'])
print(data.head())

    GPA  GMAT  Decision
0  2.96   596         0
1  3.14   473         0
2  3.22   482         0
3  3.29   527         0
4  3.69   505         0

In [ ]:
#Label Encoder is usually used for converting object type target values.
#Problem is there can be relationships among the values and thats why we use One Hot Encoding