<a href="https://colab.research.google.com/github/Keleigh123/revisionPandas/blob/main/Revision1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/indexData.csv
#https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/online_shoppers_intention.csv
#https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/Admission.csv
#https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/Covid19_Europe_Sept21.csv
#https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/Latest%20Covid-19%20India%20Status.csv

In [17]:
import pandas as pd

In [19]:
data1 = pd.read_csv("https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/Latest%20Covid-19%20India%20Status.csv")
data1.head()

             State/UTs  Total Cases  ...  Discharge Ratio (%)  Death Ratio (%)
0  Andaman and Nicobar         7566  ...                98.22             1.70
1       Andhra Pradesh      2014116  ...                98.58             0.69
2    Arunachal Pradesh        53031  ...                97.88             0.49
3                Assam       589426  ...                97.87             0.96
4                Bihar       725708  ...                98.66             1.33

[5 rows x 8 columns]

In [42]:
features = ['State/UTs','Total Cases','Active','Discharged']
x=pd.get_dummies(data1[features])

y = data1.Deaths

In [ ]:
#to check the error between the guessed and true predictions
#used get_dummies
#used DecisionTreeRegressor

In [21]:
from sklearn.model_selection import train_test_split
from  sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

In [22]:
train_x,test_x,train_y,test_y= train_test_split(x,y,random_state=1)

model = DecisionTreeRegressor(random_state=1)

In [27]:
model.fit(train_x,train_y)
pred= model.predict(test_x)

In [34]:
mae = mean_absolute_error(test_y,pred)
print (mae)

2637.8888888888887

In [40]:
output = pd.DataFrame({'Active':test_x.Active,'Deaths':pred})
first=output.to_csv('myFirstRevision.csv', index=False)

print(output)

    Active   Deaths
30   16850  18447.0
34     354   4408.0
28      97   9677.0
3     6901   3873.0
19      79   9677.0
17      69      4.0
21    3397   1812.0
23    8885    813.0
29    1094    260.0