<a href="https://colab.research.google.com/github/Keleigh123/revisionPandas/blob/main/Revision2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data2 = pd.read_csv("https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/Admission.csv")
data2.head()

    GPA  GMAT Decision
0  2.96   596    admit
1  3.14   473    admit
2  3.22   482    admit
3  3.29   527    admit
4  3.69   505    admit

In [11]:
features =['GPA','GMAT']
x= data2[features]

decisionCol = pd.get_dummies(data2['Decision'])

data2 = pd.concat((data2, decisionCol),axis=1)
data2.head()

    GPA  GMAT Decision  admit  border  notadmit
0  2.96   596    admit      1       0         0
1  3.14   473    admit      1       0         0
2  3.22   482    admit      1       0         0
3  3.29   527    admit      1       0         0
4  3.69   505    admit      1       0         0

In [12]:
data2 = data2.drop(['Decision'], axis=1)
data2.head()

    GPA  GMAT  admit  border  notadmit
0  2.96   596      1       0         0
1  3.14   473      1       0         0
2  3.22   482      1       0         0
3  3.29   527      1       0         0
4  3.69   505      1       0         0

In [13]:
p = data2.admit
q= data2.notadmit
r = data2.border

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [15]:
train_x,test_x,train_p,test_p,train_q,test_q,train_r,test_r= train_test_split(x,p,q,r,random_state=1)
model=RandomForestClassifier()
#we can have multiple train_test_splits rather than putting all together as given.

In [27]:
model.fit(train_x,train_p)


pred = model.predict(test_x)

In [28]:
output1 = pd.DataFrame({'GPA':test_x.GPA,'GMAT':test_x.GMAT,'Admit':pred}) #,'NotAdmit':pred,'Border':pred

In [29]:
output1.to_csv('Revision2Complete.csv', index=True)
print(output1)

     GPA  GMAT  Admit
38  2.51   458      0
44  2.46   509      0
27  3.37   559      1
40  2.36   482      0
36  2.35   406      0
80  3.05   399      0
58  2.90   384      0
69  3.01   471      0
84  3.04   446      0
56  2.72   399      0
67  2.80   444      0
53  2.35   321      0
48  2.41   469      0
66  2.89   485      0
63  2.89   447      0
10  3.30   563      1
2   3.22   482      1
35  2.57   542      0
68  3.13   416      0
45  2.63   504      0
19  3.28   523      1
79  3.03   438      0

In [32]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(test_p,pred))

46.77272727272727

In [30]:
model.fit(train_x,train_q)


pred = model.predict(test_x)
output2 = pd.DataFrame({'GPA':test_x.GPA,'GMAT':test_x.GMAT,'NotAdmit':pred})
print(output2)

     GPA  GMAT  NotAdmit
38  2.51   458         1
44  2.46   509         1
27  3.37   559         0
40  2.36   482         1
36  2.35   406         1
80  3.05   399         0
58  2.90   384         0
69  3.01   471         0
84  3.04   446         0
56  2.72   399         1
67  2.80   444         0
53  2.35   321         1
48  2.41   469         1
66  2.89   485         0
63  2.89   447         0
10  3.30   563         0
2   3.22   482         0
35  2.57   542         1
68  3.13   416         0
45  2.63   504         1
19  3.28   523         0
79  3.03   438         0

In [33]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(test_q,pred))

104.68181818181819

In [31]:

model.fit(train_x,train_r)

pred = model.predict(test_x)
output3 = pd.DataFrame({'GPA':test_x.GPA,'GMAT':test_x.GMAT,'Border':pred}) 
print(output3)

     GPA  GMAT  Border
38  2.51   458       0
44  2.46   509       0
27  3.37   559       0
40  2.36   482       0
36  2.35   406       0
80  3.05   399       1
58  2.90   384       0
69  3.01   471       1
84  3.04   446       1
56  2.72   399       1
67  2.80   444       1
53  2.35   321       0
48  2.41   469       0
66  2.89   485       1
63  2.89   447       1
10  3.30   563       0
2   3.22   482       0
35  2.57   542       0
68  3.13   416       1
45  2.63   504       0
19  3.28   523       0
79  3.03   438       1

In [34]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(test_r,pred))

0.045454545454545456