<a href="https://colab.research.google.com/github/Keleigh123/revisionPandas/blob/main/training1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Keleigh123/revisionPandas/main/online_shoppers_intention.csv')
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [44]:
cat_cols=['Month','Weekend','Revenue']

In [45]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
ohe=OneHotEncoder()
le = LabelEncoder()

In [47]:
array=ohe.fit_transform(data[cat_cols]).toarray() #applying ohe to cat_cols. Outputs an array.
data_ohe=pd.DataFrame(array,index=data.index)#converts array to dataframe
#drop_cols=data.drop(columns=cat_cols)#drops cat_cols
data_output=pd.concat([data,data_ohe],axis=1)#appends dataframe with dropped columns
data_output=data_output.drop(columns=cat_cols)
print(data_output.head())

   Administrative  Administrative_Duration  Informational  ...   11   12   13
0               0                      0.0              0  ...  0.0  1.0  0.0
1               0                      0.0              0  ...  0.0  1.0  0.0
2               0                      0.0              0  ...  0.0  1.0  0.0
3               0                      0.0              0  ...  0.0  1.0  0.0
4               0                      0.0              0  ...  1.0  1.0  0.0

[5 rows x 29 columns]

In [48]:
data_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  OperatingSystems         12330 non-null  int64
 11  Browser                  12330 non-null  int64
 12  Region                   12330 non-null  int64
 13  TrafficType              12330 non-null  int64
 14  VisitorType              12330 non-null  object
 15  0                        12330 non-null  float64
 16  1                        12330 non-null  float64
 17  2                        12330 non-null  float64
 18  3                        12330 non-null  float64
 19  4                        12330 non-null  float64
 20  5                        12330 non-null  float64
 21  6                        12330 non-null  float64
 22  7                        12330 non-null  float64
 23  8                        12330 non-null  float64
 24  9                        12330 non-null  float64
 25  10                       12330 non-null  float64
 26  11                       12330 non-null  float64
 27  12                       12330 non-null  float64
 28  13                       12330 non-null  float64
dtypes: float64(21), int64(7), object(1)
memory usage: 2.7+ MB

In [51]:
data_output['VisitorType']=le.fit_transform(data_output['VisitorType'])
print(data_output.head())

   Administrative  Administrative_Duration  Informational  ...   11   12   13
0               0                      0.0              0  ...  0.0  1.0  0.0
1               0                      0.0              0  ...  0.0  1.0  0.0
2               0                      0.0              0  ...  0.0  1.0  0.0
3               0                      0.0              0  ...  0.0  1.0  0.0
4               0                      0.0              0  ...  1.0  1.0  0.0

[5 rows x 29 columns]

In [55]:
features = ['ProductRelated','ProductRelated_Duration','BounceRates','ExitRates','OperatingSystems','Region','TrafficType']
x = data_output[features]
y= data_output.VisitorType

In [56]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,random_state=1)

In [57]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [58]:
model.fit(train_x,train_y)
pred = model.predict(test_x)

In [59]:
output = pd.DataFrame({'ProductRelated':test_x.ProductRelated,'ProductRelated_Duration':test_x.ProductRelated_Duration,'Region':test_x.Region,'TrafficType':test_x.TrafficType,'VisitorType':pred})

In [60]:
print(output)

       ProductRelated  ProductRelated_Duration  ...  TrafficType  VisitorType
5487                1                 0.000000  ...            5            2
7736               34               588.366667  ...            1            2
5310                2                73.000000  ...            3            2
2982               20               401.500000  ...            2            0
662                 8               202.166667  ...            8            0
...               ...                      ...  ...          ...          ...
11412              34               456.525000  ...            1            2
6275                2                34.200000  ...            2            2
259                 7               188.000000  ...            8            0
7433               14               497.800000  ...            2            2
12270              93              2773.010873  ...            3            2

[3083 rows x 5 columns]